<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/chat/messenger" method="GET">
      <input name="username" placeholder="Username" /><button type="submit">
        Send
      </button>
    </form>
    <script>
      document.querySelector("form").addEventListener("submit", (e) => {
        e.preventDefault();
        localStorage.setItem("username", e.target.username.value);
        e.target.submit();
      });
    </script>
  </body>
</html>
